<h1>
  <%= @character.player_name %>'s selected Champion:
</h1>

Name:
  <b><%= @character.name == nil ? "Seems your character has no name - go ahead and Edit to give them one" : @character.name %></b>
<br>
Level: <%= @character.level %>
<br>
Experience: <%= @character.experience_points %>
<br>
Race: <%= @character.race %>
<br>
Class: <%= @character.character_class %>
<br>
<h3>Physical Description:</h3>
<p>
Age: <%= @character.age %>
<br>
Weight: <%= @character.weight %>
<br>
Eyes: <%= @character.eyes %>
<br>
Hair: <%= @character.hair %>
<br>
Skin: <%= @character.skin %>
</p>
<h3>Character Description</h3>
<p>
Alignment: <%= @character.alignment %>
<br>
Background: <%= @character.background %>
<br>
Backstory: <%= @character.backstory %>
</p>
<br>

<br>
<%= link_to "Edit the character", edit_character_path %>
<br>
<br>
<%= link_to "REMOVE THE CHARACTER FROM THIS PLANE OF EXISTENCE", character_path, method: :delete,
                data: { confirm: 'Are you sure?' } %>