<%= form_with(model: @character, local: true) do |f| %>
  <%= render "layouts/errors", object: @character %>

  <h3>What is your name Player?</h3>
  <%= f.label :player_name %>
  <%= f.text_field :player_name, autofocus: true %>
  <br>
  <h3>What is the name of your Champion?</h3>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <h3>And who is your champion?</h3>
  <p>Every character belongs to a race, one of the many intelligent humanoid species in the D&D world.</p>
  <p>The race you choose contributes to your character's identity in an important way, by establishing
    a general appearance and the natural talents gained form culture and ancestry.</p>
  <p><b>Please refer to page 17 of the Player's Handbook (PHB) or D&D Beyond's <%= link_to 'list' , 'https://www.dndbeyond.com/classes', target: 'blank' %>
    to see the full list of races and their traits</b></p>
  <%= f.label :race %>
  <%= f.select :race, Character::RACES %>
  <br>
  <h3>What does your champion do?</h3>
  <p>Class is the primary definition of what your character can do. It's more than a profession; it's your character's
    calling.</p>
  <p>Your class gives you a variety of special features, such as a fighter's mastery of weapons and armor, and a
    wizard's spells.</p>
  <p><b>Please refer to page 45 of the PHB or D&D Beyond's <%= link_to 'list' , 'https://www.dndbeyond.com/races', target: 'blank' %>
    to see the full table of classes and their features</b></p>
  <%= f.label :character_class %>
  <%= f.select :character_class, Character::CLASSES %>
  <br>
  <h2>Time to flush out your Champion</h2>
  <h3>Physical Traits</h3>
  <br>
  <%= f.label :eyes %>
  <%= f.text_field :eyes %>
  <br>
  <%= f.label :hair %>
  <%= f.text_field :hair %>
  <br>
  <%= f.label :skin %>
  <%= f.text_field :skin %>
  <br>
  <%= f.label :weight %>
  <%= f.number_field :weight %>
  <br>
  <%= f.label :age %>
  <%= f.number_field :age %>
  <br>
  <h3>Character Traits</h3>
  <br>
  <%= f.label :background %>
  <%= f.select :background, Character::BACKGROUNDS %>
  <br>
  <%= f.label :alignment %>
  <%= f.select :alignment, Character::ALIGNMENTS %>
  <br>
  <%= f.label :ideals %>
  <%= f.text_area :ideals, value: "The thing that drives your character"  %>
  <br>
  <%= f.label :bonds %>
  <%= f.text_area :bonds, value: "This represents your character's connection to people, places, and events"  %>
  <br>
  <%= f.label :flaws %>
  <%= f.text_area :flaws, value: "Your character's vice, compulsion, fear, or weakness"  %>
  <br>
  <%= f.label :personality_traits %>
  <%= f.text_area :personality_traits, value: "Choose 2 - these are small, simple ways to help you set your character apart from every other character"  %>
  <br>
  <%= f.label :backstory %>
  <%= f.text_area :backstory %>
  <br>
  <%= f.submit %>
<% end %>
